/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

:root {
  --background-color: #ffffff;
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --font-family: Roboto, Sans-serif;
  --accent-font: Raleway, Sans-serif;
  --menu-color: #212121;
}
body {
  background-color: var(--background-color);
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.02em;
}

.container {
  width: 1600px;
}

.logo-text {
  color: var(--menu-color);
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
}

.logo-text-color {
  color: var(--accent-color);
}

.link {
  color: var(--menu-color);
  font-weight: 500;
  text-decoration: none;
}

.contacts .link {
  color: var(--main-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  font-weight: 500;
}
.slider-buttons,
.item {
  list-style: none;
  margin: 0;
}
.nav-link .link.current {
  color: var(--accent-color);
}
.hero {
  background-color: #2f303a;
  color: var(--background-color);
}
.hero .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .button {
  color: var(--background-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875s;
  letter-spacing: 0.06em;
  background: #2196f3;
  border-radius: 4px;
}
.title {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.post-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features .text {
  font-size: 14px;
  line-height: 1.714;
}
.features .title {
  display: none;
}
.footer {
  background-color: #2f303a;
  color: var(--background-color);
}
.footer a {
  color: var(--background-color);
}
.footer address {
  font-style: normal;
}
.footer .contacts {
  color: rgba(255, 255, 255, 0.6);
}

/*page Potfolio*/
.button:hover,
.button:focus {
  background: var(--accent-color);
  color: var(--background-color);
}
.button {
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px #0000001f;
}
.invisible {
  display: none;
}
.pagenamelink {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.title-name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.188;
}
